.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}

.MainContainer input{
  width: 200px;
  height: 50px;
  border: solid 1px rgb(122, 122, 122);
  border-radius: 50px;
  padding: 0px 40px;
  color: gray;
  outline: none;
}
.MainContainer input:focus{
  border: solid 1px rgb(85, 138, 250);
  box-shadow: 2px 2px 9px -3px rgba(0,0,0,0.8) inset;
  -webkit-box-shadow: 2px 2px 9px -3px rgba(0,0,0,0.8) inset;
  -moz-box-shadow: 2px 2px 9px -3px rgba(0,0,0,0.8) inset;
}
.MainContainer textarea {
  width: 300px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
  color: black;
}
.CodeArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.CopyRight {
  position: absolute;
  bottom: 0px;
  color: rgb(179, 177, 177);
}